<div style="width: 400px; border: 1px solid blue; padding: 10px; margin : 10px">
    <form [formGroup]="form" (submit)="submitForm(form.value)">
        <div class="form-group" style="margin-bottom: 15px;">
            <label>Name</label>
            <input type="text" formControlName="name" placeholder="Enter Name" class="form-control"/>
            <div class="alert alert-danger" *ngIf="form.controls['name'].touched && form.controls['name'].invalid">
                <div *ngIf="form.controls['name'].errors?.['required']"> Name is mandatory </div>
                <div *ngIf="form.controls['name'].errors?.['minlength']"> Name must have at least 3 characters </div>
                <div *ngIf="form.controls['name'].errors?.['maxlength']"> Name must have at max 20 characters </div>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label>User Name</label>
            <input type="text" formControlName="username" placeholder="Enter User Name" class="form-control">
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label>Email</label>
            <input type="text" formControlName="email" placeholder="Enter Email" class="form-control">
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label>Phone</label>
            <input type="text" formControlName="phone" placeholder="Enter Phone Number" class="form-control">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>

</div>